<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/Javascript.js"></script>
</head>
<body>

    <div class="container">
    <%- include('./Parts/Header.ejs')  %>
    <main class="main">
        <%- body %>
    </main>
    <%- include('./Parts/Footer.ejs')  %>
    </div>

</body>
</html>