<div style="background-color: aliceblue;height:100%" class="edits"> 
    <style>
        h1{
            padding-left: 25%;
        }
        p{
            padding-left: 80%;
        }
    </style>
    <p>Username:<%= data.userId %></p>
    <h1><%= data.title %></h1>
    <article  
class=article>
        <%= data.body %>
    </article>
</div>