<header class="header">
    <nav>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a class="tab" href="/Others/contact.html">Contact</a>
            <a class="tab" href="/Others/about.html">About</a>

        </div>
    </nav>
</header>