<header class="header">
    <script>
        function end(){
            localStorage.removeItem("user_"); 
        }
    </script>
    <nav>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a class="tab" href="/Others/contact.html">Contact</a>
            <a class="tab" href="/Others/about.html">About</a>
            <a class="logout " onclick="end()" href="/Logout">Logout</a>

        </div>
    </nav>
</header>


